html, body, .App, #root, .container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  font-size: 14px;
}

.App {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.location {
  font-size: 18px;
  color: #bdc3c7;
  height: 30px;
  padding-top: 10px;
}

.location a {
  color: #bdc3c7;
  transition: color 0.25s ease-in-out;
}

.location a:hover {
  color: #2c3e50;
}

.logo  {
  display: flex;
  align-items: center;
  letter-spacing: 5px;
}

.logo h4{
  text-transform: uppercase;
  font-size: 24px;
  height: 30px;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

a {
  text-decoration: none;
  color: #000000;
}

.links a {
  display: inline-block;
  position: relative;
  color: #0087ca
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.upload {
  cursor: pointer;
}

#file-selector {
  display: none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
}

.dropzone {
  margin: 10px;
  border: 5px dotted gray;
  border-radius: 20px;
  height: 85%;
  transition: border-color 0.25s ease-in-out;
}

.green {
  border-color: #59ff38;
}

.files {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.files li {
  margin: 15px;
  text-align: center;
  width: 90px;
}

.icon {
  width: 64px;
  height: 64px;
}